# Node.js (Express)
.env
dist/
*.log
node_modules/
**/node_modules/

# React
/build
/.next
.cache/
.vite/

# OS-specific
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.save.*

front_end/my-app/.env.production
